{{ define "main" }}
<header class="page-header">
  <style>
  body {
    background-color: #F8F8FF;
  }
  </style>
  <h1>Computer Science</h1>
</header>

<section class="honors-content-section">
  <aside class="toc-sidebar">
    <div class="toc">
      <div class="toc-title">Table of Contents</div>
        <nav>
          <ul>
            <li><a href="#competitive-programming">Competitive Programming</a></li>
            <ul>
              <li><a href="#learning-cpp">Learning C++</a></li>
              <ul>
                <li><a href="#hackerrank">HackerRank</a></li>
              </ul>
            </ul>
          </ul>
        </nav>
    </div>
  </aside>

  <div class="honors-list">
    <h2 id="competitive-programming">Competitive <br> Programming</h2>
    <h3 id="learning-cpp">Learning C++</h3>
    <h3 id="hackerrank">HackerRank</h3>

    <button class="accordion"><strong>Problem 1</strong>
      Say "Hello, World!" With C++</button>
    <div class="panel">
      <div class="panel-content">
        <p>Link to the Challenge:</p>
        <a href="https://www.hackerrank.com/challenges/cpp-hello-world/problem?isFullScreen=true">
        Problem Statement</a>

        <p>My Solution:</p>
        <br>
        <embed src="/txt/cs/hackerrank/problem01.txt"></embed>
      </div>
    </div>

    <button class="accordion"><strong>Problem 2</strong>
      Input and Output</button>
    <div class="panel">
      <div class="panel-content">
        <p>Link to the Challenge:</p>
        <a href="https://www.hackerrank.com/challenges/cpp-input-and-output/problem?isFullScreen=true">
        Problem Statement</a>

        <p>My Solution:</p>
        <br>
        <embed src="/txt/cs/hackerrank/problem02.txt"></embed>
      </div>
    </div>

    <button class="accordion"><strong>Problem 3</strong>
      Basic Data Types</button>
    <div class="panel">
      <div class="panel-content">
        <p>Link to the Challenge:</p>
        <a href="https://www.hackerrank.com/challenges/c-tutorial-basic-data-types/problem?isFullScreen=true">
        Problem Statement</a>

        <p>My Solution:</p>
        <br>
        <embed src="/txt/cs/hackerrank/problem03.txt"></embed>
      </div>
    </div>

    <button class="accordion"><strong>Problem 4</strong>
      Conditional Statements</button>
    <div class="panel">
      <div class="panel-content">
        <p>Link to the Challenge:</p>
        <a href="https://www.hackerrank.com/challenges/c-tutorial-conditional-if-else/problem?isFullScreen=true">
        Problem Statement</a>

        <p>My Solution:</p>
        <br>
        <embed src="/txt/cs/hackerrank/problem04.txt"></embed>
      </div>
    </div>

    <button class="accordion"><strong>Problem 5</strong>
      For Loop</button>
    <div class="panel">
      <div class="panel-content">
        <p>Link to the Challenge:</p>
        <a href="https://www.hackerrank.com/challenges/c-tutorial-for-loop/problem?isFullScreen=true">
        Problem Statement</a>

        <p>My Solution:</p>
        <br>
        <embed src="/txt/cs/hackerrank/problem05.txt"></embed>
      </div>
    </div>

    <button class="accordion"><strong>Problem 6</strong>
      Functions</button>
    <div class="panel">
      <div class="panel-content">
        <p>Link to the Challenge:</p>
        <a href="https://www.hackerrank.com/challenges/c-tutorial-functions/problem?isFullScreen=true">
        Problem Statement</a>

        <p>My Solution:</p>
        <br>
        <embed src="/txt/cs/hackerrank/problem06.txt"></embed>
      </div>
    </div>

    <button class="accordion"><strong>Problem 7</strong>
      Pointer</button>
    <div class="panel">
      <div class="panel-content">
        <p>Link to the Challenge:</p>
        <a href="https://www.hackerrank.com/challenges/c-tutorial-pointer/problem?isFullScreen=true">
        Problem Statement</a>

        <p>My Solution:</p>
        <br>
        <embed src="/txt/cs/hackerrank/problem07.txt"></embed>
      </div>
    </div>

  </div>
</section>
{{ end }}

