{{ define "main" }}
<header class="page-header">
  <style>
  body {
    background-color: #F8F8FF;
  }
  </style>
  <h1>Mathematics</h1>
</header>

<section class="honors-content-section">
  <aside class="toc-sidebar">
    <div class="toc">
      <div class="toc-title">Table of Contents</div>
      <nav>
        <ul>
          <li><a href="#competitions">Math Competitions</a></li>
        </ul>
      </nav>
    </div>
  </aside>

  <div class="honors-list">
    <h2 id="competitions">Competitions</h2>

    <div id="projectList">
      <table>
        <tr>
          <th>Problem Set</th>
          <th>PDF</th>
          <th>HTML (Potentially Flawed)</th>
          <th>TeX Source</th>
        </tr>

        <tr>
          <td>Problem Set 1</td>
          <td>
            <a href="/pdf/ps/ps01.pdf" target="_blank" rel="noopener noreferrer">PDF</a>
          </td>
          <td>
            <a href="pages/articles/independent-study/math/ps01/" target="_blank" rel="noopener noreferrer">HTML</a>
          </td>
          <td>
            <span><a href="/tex/ps/ps01.tex" target="_blank" rel="noopener noreferrer">TeX</a></span>
            <span>&bull;</span>
            <span><a href="/txt/ps/ps01.txt" target="_blank" rel="noopener noreferrer">Quick View</a></span>
          </td>
        </tr>
        <tr>
          <td>Problem Set 2</td>
          <td>
            <a href="/pdf/ps/ps02.pdf" target="_blank" rel="noopener noreferrer">PDF</a>
          </td>
          <td>
            <a href="pages/articles/independent-study/math/ps02/" target="_blank" rel="noopener noreferrer">HTML</a>
          </td>
          <td>
            <span><a href="/tex/ps/ps02.tex" target="_blank" rel="noopener noreferrer">TeX</a></span>
            <span>&bull;</span>
            <span><a href="/txt/ps/ps02.txt" target="_blank" rel="noopener noreferrer">Quick View</a></span>
          </td>
        </tr>
        <tr>
          <td>Problem Set 3</td>
          <td>
            <a href="/pdf/ps/ps03.pdf" target="_blank" rel="noopener noreferrer">PDF</a>
          </td>
          <td>
            <a href="pages/articles/independent-study/math/ps03/" target="_blank" rel="noopener noreferrer">HTML</a>
          </td>
          <td>
            <span><a href="/tex/ps/ps03.tex" target="_blank" rel="noopener noreferrer">TeX</a></span>
            <span>&bull;</span>
            <span><a href="/txt/ps/ps03.txt" target="_blank" rel="noopener noreferrer">Quick View</a></span>
          </td>
        </tr>
        <tr>
          <td>Problem Set 4</td>
          <td>
            <a href="/pdf/ps/ps04.pdf" target="_blank" rel="noopener noreferrer">PDF</a>
          </td>
          <td>
            <a href="pages/articles/independent-study/math/ps04/" target="_blank" rel="noopener noreferrer">HTML</a>
          </td>
          <td>
            <span><a href="/tex/ps/ps04.tex" target="_blank" rel="noopener noreferrer">TeX</a></span>
            <span>&bull;</span>
            <span><a href="/txt/ps/ps04.txt" target="_blank" rel="noopener noreferrer">Quick View</a></span>
          </td>
        </tr>
        <tr>
          <td>Problem Set 5</td>
          <td>
            <a href="/pdf/ps/ps05.pdf" target="_blank" rel="noopener noreferrer">PDF</a>
          </td>
          <td>
            <a href="pages/articles/independent-study/math/ps05" target="_blank" rel="noopener noreferrer">HTML</a>
          </td>
          <td>
            <span><a href="/tex/ps/ps05.tex" target="_blank" rel="noopener noreferrer">TeX</a></span>
            <span>&bull;</span>
            <span><a href="/txt/ps/ps05.txt" target="_blank" rel="noopener noreferrer">Quick View</a></span>
          </td>
        </tr>
        <tr>
          <td>Problem Set 6</td>
          <td>
            <a href="/pdf/ps/ps06.pdf" target="_blank" rel="noopener noreferrer">PDF</a>
          </td>
          <td>
            <a href="pages/articles/independent-study/math/ps06/" target="_blank" rel="noopener noreferrer">HTML</a>
          </td>
          <td>
            <span><a href="/tex/ps/ps06.tex" target="_blank" rel="noopener noreferrer">TeX</a></span>
            <span>&bull;</span>
            <span><a href="/txt/ps/ps06.txt" target="_blank" rel="noopener noreferrer">Quick View</a></span>
          </td>
        </tr>
        <tr>
          <td>Problem Set 7</td>
          <td>
            <a href="/pdf/ps/ps02.pdf" target="_blank" rel="noopener noreferrer">PDF</a>
          </td>
          <td>
            <a href="/pages/projects/latex/ps02" target="_blank" rel="noopener noreferrer">HTML</a>
          </td>
          <td>
            <span><a href="/tex/ps/ps02.tex" target="_blank" rel="noopener noreferrer">TeX</a></span>
            <span>&bull;</span>
            <span><a href="/txt/ps/ps02.txt" target="_blank" rel="noopener noreferrer">Quick View</a></span>
          </td>
        </tr>
        <tr>
          <td>Problem Set 8</td>
          <td>
            <a href="/pdf/ps/ps02.pdf" target="_blank" rel="noopener noreferrer">PDF</a>
          </td>
          <td>
            <a href="/pages/projects/latex/ps02" target="_blank" rel="noopener noreferrer">HTML</a>
          </td>
          <td>
            <span><a href="/tex/ps/ps02.tex" target="_blank" rel="noopener noreferrer">TeX</a></span>
            <span>&bull;</span>
            <span><a href="/txt/ps/ps02.txt" target="_blank" rel="noopener noreferrer">Quick View</a></span>
          </td>
        </tr>
        <tr>
          <td>Problem Set 9</td>
          <td>
            <a href="/pdf/ps/ps02.pdf" target="_blank" rel="noopener noreferrer">PDF</a>
          </td>
          <td>
            <a href="/pages/projects/latex/ps02" target="_blank" rel="noopener noreferrer">HTML</a>
          </td>
          <td>
            <span><a href="/tex/ps/ps02.tex" target="_blank" rel="noopener noreferrer">TeX</a></span>
            <span>&bull;</span>
            <span><a href="/txt/ps/ps02.txt" target="_blank" rel="noopener noreferrer">Quick View</a></span>
          </td>
        </tr>
        <tr>
          <td>Problem Set 10</td>
          <td>
            <a href="/pdf/ps/ps02.pdf" target="_blank" rel="noopener noreferrer">PDF</a>
          </td>
          <td>
            <a href="/pages/projects/latex/ps02" target="_blank" rel="noopener noreferrer">HTML</a>
          </td>
          <td>
            <span><a href="/tex/ps/ps02.tex" target="_blank" rel="noopener noreferrer">TeX</a></span>
            <span>&bull;</span>
            <span><a href="/txt/ps/ps02.txt" target="_blank" rel="noopener noreferrer">Quick View</a></span>
          </td>
        </tr>
        <tr>
          <td>Problem Set 11</td>
          <td>
            <a href="/pdf/ps/ps02.pdf" target="_blank" rel="noopener noreferrer">PDF</a>
          </td>
          <td>
            <a href="/pages/projects/latex/ps02" target="_blank" rel="noopener noreferrer">HTML</a>
          </td>
          <td>
            <span><a href="/tex/ps/ps02.tex" target="_blank" rel="noopener noreferrer">TeX</a></span>
            <span>&bull;</span>
            <span><a href="/txt/ps/ps02.txt" target="_blank" rel="noopener noreferrer">Quick View</a></span>
          </td>
        </tr>
        <tr>
          <td>Problem Set 12</td>
          <td>
            <a href="/pdf/ps/ps02.pdf" target="_blank" rel="noopener noreferrer">PDF</a>
          </td>
          <td>
            <a href="/pages/projects/latex/ps02" target="_blank" rel="noopener noreferrer">HTML</a>
          </td>
          <td>
            <span><a href="/tex/ps/ps02.tex" target="_blank" rel="noopener noreferrer">TeX</a></span>
            <span>&bull;</span>
            <span><a href="/txt/ps/ps02.txt" target="_blank" rel="noopener noreferrer">Quick View</a></span>
          </td>
        </tr>
        <tr>
          <td>Problem Set 13</td>
          <td>
            <a href="/pdf/ps/ps02.pdf" target="_blank" rel="noopener noreferrer">PDF</a>
          </td>
          <td>
            <a href="/pages/projects/latex/ps02" target="_blank" rel="noopener noreferrer">HTML</a>
          </td>
          <td>
            <span><a href="/tex/ps/ps02.tex" target="_blank" rel="noopener noreferrer">TeX</a></span>
            <span>&bull;</span>
            <span><a href="/txt/ps/ps02.txt" target="_blank" rel="noopener noreferrer">Quick View</a></span>
          </td>
        </tr>
        <tr>
          <td>Problem Set 14</td>
          <td>
            <a href="/pdf/ps/ps02.pdf" target="_blank" rel="noopener noreferrer">PDF</a>
          </td>
          <td>
            <a href="/pages/projects/latex/ps02" target="_blank" rel="noopener noreferrer">HTML</a>
          </td>
          <td>
            <span><a href="/tex/ps/ps02.tex" target="_blank" rel="noopener noreferrer">TeX</a></span>
            <span>&bull;</span>
            <span><a href="/txt/ps/ps02.txt" target="_blank" rel="noopener noreferrer">Quick View</a></span>
          </td>
        </tr>
        <tr>
          <td>Problem Set 15</td>
          <td>
            <a href="/pdf/ps/ps02.pdf" target="_blank" rel="noopener noreferrer">PDF</a>
          </td>
          <td>
            <a href="/pages/projects/latex/ps02" target="_blank" rel="noopener noreferrer">HTML</a>
          </td>
          <td>
            <span><a href="/tex/ps/ps02.tex" target="_blank" rel="noopener noreferrer">TeX</a></span>
            <span>&bull;</span>
            <span><a href="/txt/ps/ps02.txt" target="_blank" rel="noopener noreferrer">Quick View</a></span>
          </td>
        </tr>
        <tr>
          <td>Problem Set 16</td>
          <td>
            <a href="/pdf/ps/ps02.pdf" target="_blank" rel="noopener noreferrer">PDF</a>
          </td>
          <td>
            <a href="/pages/projects/latex/ps02" target="_blank" rel="noopener noreferrer">HTML</a>
          </td>
          <td>
            <span><a href="/tex/ps/ps02.tex" target="_blank" rel="noopener noreferrer">TeX</a></span>
            <span>&bull;</span>
            <span><a href="/txt/ps/ps02.txt" target="_blank" rel="noopener noreferrer">Quick View</a></span>
          </td>
        </tr>
        <tr>
          <td>Problem Set 17</td>
          <td>
            <a href="/pdf/ps/ps02.pdf" target="_blank" rel="noopener noreferrer">PDF</a>
          </td>
          <td>
            <a href="/pages/projects/latex/ps02" target="_blank" rel="noopener noreferrer">HTML</a>
          </td>
          <td>
            <span><a href="/tex/ps/ps02.tex" target="_blank" rel="noopener noreferrer">TeX</a></span>
            <span>&bull;</span>
            <span><a href="/txt/ps/ps02.txt" target="_blank" rel="noopener noreferrer">Quick View</a></span>
          </td>
        </tr>
        <tr>
          <td>Problem Set 18</td>
          <td>
            <a href="/pdf/ps/ps02.pdf" target="_blank" rel="noopener noreferrer">PDF</a>
          </td>
          <td>
            <a href="/pages/projects/latex/ps02" target="_blank" rel="noopener noreferrer">HTML</a>
          </td>
          <td>
            <span><a href="/tex/ps/ps02.tex" target="_blank" rel="noopener noreferrer">TeX</a></span>
            <span>&bull;</span>
            <span><a href="/txt/ps/ps02.txt" target="_blank" rel="noopener noreferrer">Quick View</a></span>
          </td>
        </tr>
        <tr>
          <td>Problem Set 19</td>
          <td>
            <a href="/pdf/ps/ps02.pdf" target="_blank" rel="noopener noreferrer">PDF</a>
          </td>
          <td>
            <a href="/pages/projects/latex/ps02" target="_blank" rel="noopener noreferrer">HTML</a>
          </td>
          <td>
            <span><a href="/tex/ps/ps02.tex" target="_blank" rel="noopener noreferrer">TeX</a></span>
            <span>&bull;</span>
            <span><a href="/txt/ps/ps02.txt" target="_blank" rel="noopener noreferrer">Quick View</a></span>
          </td>
        </tr>
        <tr>
          <td>Problem Set 20</td>
          <td>
            <a href="/pdf/ps/ps02.pdf" target="_blank" rel="noopener noreferrer">PDF</a>
          </td>
          <td>
            <a href="/pages/projects/latex/ps02" target="_blank" rel="noopener noreferrer">HTML</a>
          </td>
          <td>
            <span><a href="/tex/ps/ps02.tex" target="_blank" rel="noopener noreferrer">TeX</a></span>
            <span>&bull;</span>
            <span><a href="/txt/ps/ps02.txt" target="_blank" rel="noopener noreferrer">Quick View</a></span>
          </td>
        </tr>
        <tr>
          <td>Problem Set 21</td>
          <td>
            <a href="/pdf/ps/ps02.pdf" target="_blank" rel="noopener noreferrer">PDF</a>
          </td>
          <td>
            <a href="/pages/projects/latex/ps02" target="_blank" rel="noopener noreferrer">HTML</a>
          </td>
          <td>
            <span><a href="/tex/ps/ps02.tex" target="_blank" rel="noopener noreferrer">TeX</a></span>
            <span>&bull;</span>
            <span><a href="/txt/ps/ps02.txt" target="_blank" rel="noopener noreferrer">Quick View</a></span>
          </td>
        </tr>
        <tr>
          <td>Problem Set 22</td>
          <td>
            <a href="/pdf/ps/ps02.pdf" target="_blank" rel="noopener noreferrer">PDF</a>
          </td>
          <td>
            <a href="/pages/projects/latex/ps02" target="_blank" rel="noopener noreferrer">HTML</a>
          </td>
          <td>
            <span><a href="/tex/ps/ps02.tex" target="_blank" rel="noopener noreferrer">TeX</a></span>
            <span>&bull;</span>
            <span><a href="/txt/ps/ps02.txt" target="_blank" rel="noopener noreferrer">Quick View</a></span>
          </td>
        </tr>
        <tr>
          <td>Problem Set 23</td>
          <td>
            <a href="/pdf/ps/ps02.pdf" target="_blank" rel="noopener noreferrer">PDF</a>
          </td>
          <td>
            <a href="/pages/projects/latex/ps02" target="_blank" rel="noopener noreferrer">HTML</a>
          </td>
          <td>
            <span><a href="/tex/ps/ps02.tex" target="_blank" rel="noopener noreferrer">TeX</a></span>
            <span>&bull;</span>
            <span><a href="/txt/ps/ps02.txt" target="_blank" rel="noopener noreferrer">Quick View</a></span>
          </td>
        </tr>
        <tr>
          <td>Problem Set 24</td>
          <td>
            <a href="/pdf/ps/ps02.pdf" target="_blank" rel="noopener noreferrer">PDF</a>
          </td>
          <td>
            <a href="/pages/projects/latex/ps02" target="_blank" rel="noopener noreferrer">HTML</a>
          </td>
          <td>
            <span><a href="/tex/ps/ps02.tex" target="_blank" rel="noopener noreferrer">TeX</a></span>
            <span>&bull;</span>
            <span><a href="/txt/ps/ps02.txt" target="_blank" rel="noopener noreferrer">Quick View</a></span>
          </td>
        </tr>
        <tr>
          <td>Problem Set 25</td>
          <td>
            <a href="/pdf/ps/ps02.pdf" target="_blank" rel="noopener noreferrer">PDF</a>
          </td>
          <td>
            <a href="/pages/projects/latex/ps02" target="_blank" rel="noopener noreferrer">HTML</a>
          </td>
          <td>
            <span><a href="/tex/ps/ps02.tex" target="_blank" rel="noopener noreferrer">TeX</a></span>
            <span>&bull;</span>
            <span><a href="/txt/ps/ps02.txt" target="_blank" rel="noopener noreferrer">Quick View</a></span>
          </td>
        </tr>
        <tr>
          <td>Problem Set 26</td>
          <td>
            <a href="/pdf/ps/ps02.pdf" target="_blank" rel="noopener noreferrer">PDF</a>
          </td>
          <td>
            <a href="/pages/projects/latex/ps02" target="_blank" rel="noopener noreferrer">HTML</a>
          </td>
          <td>
            <span><a href="/tex/ps/ps02.tex" target="_blank" rel="noopener noreferrer">TeX</a></span>
            <span>&bull;</span>
            <span><a href="/txt/ps/ps02.txt" target="_blank" rel="noopener noreferrer">Quick View</a></span>
          </td>
        </tr>
        <tr>
          <td>Problem Set 27</td>
          <td>
            <a href="/pdf/ps/ps02.pdf" target="_blank" rel="noopener noreferrer">PDF</a>
          </td>
          <td>
            <a href="/pages/projects/latex/ps02" target="_blank" rel="noopener noreferrer">HTML</a>
          </td>
          <td>
            <span><a href="/tex/ps/ps02.tex" target="_blank" rel="noopener noreferrer">TeX</a></span>
            <span>&bull;</span>
            <span><a href="/txt/ps/ps02.txt" target="_blank" rel="noopener noreferrer">Quick View</a></span>
          </td>
        </tr>
        <tr>
          <td>Problem Set 28</td>
          <td>
            <a href="/pdf/ps/ps02.pdf" target="_blank" rel="noopener noreferrer">PDF</a>
          </td>
          <td>
            <a href="/pages/projects/latex/ps02" target="_blank" rel="noopener noreferrer">HTML</a>
          </td>
          <td>
            <span><a href="/tex/ps/ps02.tex" target="_blank" rel="noopener noreferrer">TeX</a></span>
            <span>&bull;</span>
            <span><a href="/txt/ps/ps02.txt" target="_blank" rel="noopener noreferrer">Quick View</a></span>
          </td>
        </tr>
        <tr>
          <td>Problem Set 29</td>
          <td>
            <a href="/pdf/ps/ps02.pdf" target="_blank" rel="noopener noreferrer">PDF</a>
          </td>
          <td>
            <a href="/pages/projects/latex/ps02" target="_blank" rel="noopener noreferrer">HTML</a>
          </td>
          <td>
            <span><a href="/tex/ps/ps02.tex" target="_blank" rel="noopener noreferrer">TeX</a></span>
            <span>&bull;</span>
            <span><a href="/txt/ps/ps02.txt" target="_blank" rel="noopener noreferrer">Quick View</a></span>
          </td>
        </tr>
        <tr>
          <td>Problem Set 30</td>
          <td>
            <a href="/pdf/ps/ps02.pdf" target="_blank" rel="noopener noreferrer">PDF</a>
          </td>
          <td>
            <a href="/pages/projects/latex/ps02" target="_blank" rel="noopener noreferrer">HTML</a>
          </td>
          <td>
            <span><a href="/tex/ps/ps02.tex" target="_blank" rel="noopener noreferrer">TeX</a></span>
            <span>&bull;</span>
            <span><a href="/txt/ps/ps02.txt" target="_blank" rel="noopener noreferrer">Quick View</a></span>
          </td>
        </tr>
        <tr>
          <td>Problem Set 31</td>
          <td>
            <a href="/pdf/ps/ps02.pdf" target="_blank" rel="noopener noreferrer">PDF</a>
          </td>
          <td>
            <a href="/pages/projects/latex/ps02" target="_blank" rel="noopener noreferrer">HTML</a>
          </td>
          <td>
            <span><a href="/tex/ps/ps02.tex" target="_blank" rel="noopener noreferrer">TeX</a></span>
            <span>&bull;</span>
            <span><a href="/txt/ps/ps02.txt" target="_blank" rel="noopener noreferrer">Quick View</a></span>
          </td>
        </tr>
        <tr>
          <td>Problem Set 32</td>
          <td>
            <a href="/pdf/ps/ps02.pdf" target="_blank" rel="noopener noreferrer">PDF</a>
          </td>
          <td>
            <a href="/pages/projects/latex/ps02" target="_blank" rel="noopener noreferrer">HTML</a>
          </td>
          <td>
            <span><a href="/tex/ps/ps02.tex" target="_blank" rel="noopener noreferrer">TeX</a></span>
            <span>&bull;</span>
            <span><a href="/txt/ps/ps02.txt" target="_blank" rel="noopener noreferrer">Quick View</a></span>
          </td>
        </tr>
        <tr>
          <td>Problem Set 33</td>
          <td>
            <a href="/pdf/ps/ps02.pdf" target="_blank" rel="noopener noreferrer">PDF</a>
          </td>
          <td>
            <a href="/pages/projects/latex/ps02" target="_blank" rel="noopener noreferrer">HTML</a>
          </td>
          <td>
            <span><a href="/tex/ps/ps02.tex" target="_blank" rel="noopener noreferrer">TeX</a></span>
            <span>&bull;</span>
            <span><a href="/txt/ps/ps02.txt" target="_blank" rel="noopener noreferrer">Quick View</a></span>
          </td>
        </tr>
        <tr>
          <td>Problem Set 34</td>
          <td>
            <a href="/pdf/ps/ps02.pdf" target="_blank" rel="noopener noreferrer">PDF</a>
          </td>
          <td>
            <a href="/pages/projects/latex/ps02" target="_blank" rel="noopener noreferrer">HTML</a>
          </td>
          <td>
            <span><a href="/tex/ps/ps02.tex" target="_blank" rel="noopener noreferrer">TeX</a></span>
            <span>&bull;</span>
            <span><a href="/txt/ps/ps02.txt" target="_blank" rel="noopener noreferrer">Quick View</a></span>
          </td>
        </tr>
        <tr>
          <td>Problem Set 35</td>
          <td>
            <a href="/pdf/ps/ps02.pdf" target="_blank" rel="noopener noreferrer">PDF</a>
          </td>
          <td>
            <a href="/pages/projects/latex/ps02" target="_blank" rel="noopener noreferrer">HTML</a>
          </td>
          <td>
            <span><a href="/tex/ps/ps02.tex" target="_blank" rel="noopener noreferrer">TeX</a></span>
            <span>&bull;</span>
            <span><a href="/txt/ps/ps02.txt" target="_blank" rel="noopener noreferrer">Quick View</a></span>
          </td>
        </tr>
        <tr>
          <td>Problem Set 36</td>
          <td>
            <a href="/pdf/ps/ps02.pdf" target="_blank" rel="noopener noreferrer">PDF</a>
          </td>
          <td>
            <a href="/pages/projects/latex/ps02" target="_blank" rel="noopener noreferrer">HTML</a>
          </td>
          <td>
            <span><a href="/tex/ps/ps02.tex" target="_blank" rel="noopener noreferrer">TeX</a></span>
            <span>&bull;</span>
            <span><a href="/txt/ps/ps02.txt" target="_blank" rel="noopener noreferrer">Quick View</a></span>
          </td>
        </tr>
        <tr>
          <td>Problem Set 37</td>
          <td>
            <a href="/pdf/ps/ps02.pdf" target="_blank" rel="noopener noreferrer">PDF</a>
          </td>
          <td>
            <a href="/pages/projects/latex/ps02" target="_blank" rel="noopener noreferrer">HTML</a>
          </td>
          <td>
            <span><a href="/tex/ps/ps02.tex" target="_blank" rel="noopener noreferrer">TeX</a></span>
            <span>&bull;</span>
            <span><a href="/txt/ps/ps02.txt" target="_blank" rel="noopener noreferrer">Quick View</a></span>
          </td>
        </tr>
        <tr>
          <td>Problem Set 38</td>
          <td>
            <a href="/pdf/ps/ps02.pdf" target="_blank" rel="noopener noreferrer">PDF</a>
          </td>
          <td>
            <a href="/pages/projects/latex/ps02" target="_blank" rel="noopener noreferrer">HTML</a>
          </td>
          <td>
            <span><a href="/tex/ps/ps02.tex" target="_blank" rel="noopener noreferrer">TeX</a></span>
            <span>&bull;</span>
            <span><a href="/txt/ps/ps02.txt" target="_blank" rel="noopener noreferrer">Quick View</a></span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</section>
{{ end }}

