{{ define "main" }}
<header class="page-header">
  <h1>Projects</h1>
</header>

<section class="section-toc">
  <aside class="toc-sidebar">
    <div class="toc">
      <div class="toc-title">Table of Contents</div>
      <nav>
        <ul>
          <li><a href="#math-docs">Mathematical Documents</a></li>
          <li><a href="#competitive-programming">Competitive Programming</a></li>
          <li><a href="#problem-of-the-day">Problem of the Day</a></li>
          <li><a href="#js-mini-projects">JavaScript Mini-Projects</a></li>
        </ul>
      </nav>
    </div>
  </aside>

  <div id="card3-container-projects">
    <div class="card3 card3-projects" id="math-docs">
      <h3>Mathematical Documents</h3>
      <div class="card3-image card3-image-projects">
        <img src="/img/independent-math.jpg" alt="Mathematical Document">
      </div>
      <div class="card3-content-projects">
        <p>
        While exploring concepts further in mathematics, I was able to acquire
        countless assistance from public documents. Therefore, to reciprocate
        the blessings received, I enjoy typing numerous topics taught in Olympiad
        and competition mathematics to share the documents publicly. Contributing
        through sharing the documents provides joy through the sensation that I
        have ceased to be only a consumer, but became both producer and consumer
        of math.
        </p>
        <a href="/pages/projects/mathematical-documents" class="btn1">Read More</a>
      </div>
    </div>

    <hr>

    <div class="card3 card3-projects" id="competitive-programming">
      <h3>Competitive Programming</h3>
      <div class="card3-image card3-image-projects">
        <img src="/img/independent-cs.jpg" alt="Competitive Programming">
      </div>
      <div class="card3-content-projects">
        <p>
        Competitive programming provides a distinct joy from contemplating
        on a mathematical problem. Investigating the interconnected nature
        of competitive programming and ideas from Olympiad mathematics is
        one of the most prominent reasons for enjoying to program.
        Through pursuing distinct challenge, I was able to acquire limited,
        but potent knowledge in programming. The project below includes my
        journey in C++ and basic concepts from competitive programming.
        </p>
        <a href="/pages/projects/competitive-programming" class="btn1">Read More</a>
      </div>
    </div>

    <hr>

    <div class="card3 card3-projects" id="problem-of-the-day">
      <h3>Problem of the Day<br>(100 Problems for 100 Days)</h3>
      <div class="card3-image card3-image-projects">
        <img src="/img/independent-math.jpg" alt="Problem of the Day">
      </div>
      <div class="card3-content-projects">
        <p>
        As the name suggests, the project contains 100
        problems from diverse sources, where I made a video
        for the problems. The playlist to the explanation
        videos are available
        <a href="https://www.youtube.com/playlist?list=PLOs3MhwbOdVyy102FYycVmbeHPPwO4Des"
           target="_blank" rel="noopener noreferrer">
          here!</a>
        The solutions are mixed works of my personal solutions,
        solutions founded by community, and official solutions.
        <br>
        I have started this project to motivate myself and share
        my progress for the 2025 Korean Mathematical Olympiad Stage
        II. Although I was not able to advance into the final round
        of Korean Mathematical Olympiad, I was able to gain
        significant insights in mathematics during the process!
        Therefore, I selected few of my favorite problems and decided
        to start this project. Please enjoy!!!
        </p>
        <a href="/pages/projects/problem-of-the-day" class="btn1">Read More</a>
      </div>
    </div>

    <hr>

    <div class="card3 card3-projects" id="js-mini-projects">
      <h3>JavaScript Mini-Projects</h3>
      <div class="card3-image card3-image-projects">
        <img src="/img/independent-cs.jpg" alt="JavaScript Mini-Projects">
      </div>
      <div class="card3-content-projects">
        <p>
         As an ardent high school sophomore who loves math and
         programming, I decided to create mini-projects with
         JavaScript. The purpose of this project is to document
         my learning journey and to actively engage in learning
         different programming languages on my own. Total of
         seven mini-projects are created each with detailed
         explanation, demonstration, and source code. Please
         do not hesitate to leave any comment or feedback!
        </p>
        <a href="/pages/projects/js-mini-projects" class="btn1">Read More</a>
      </div>
    </div>
  </div>
</section>
{{ end }}
