{{ define "main" }}
<header class="page-header">
  <h1>Activities & Involvement</h1>
  <style>
  body {
    background-color: #F8F8FF;
  }
  </style>
</header>

<section class="section3">
  <aside class="toc-sidebar">
    <div class="toc">
      <div class="toc-title">Table of Contents</div>
      <nav>
        <ul>
          <li><a href="#mathematics">Mathematics</a></li>
          <li><a href="#volunteering">Volunteering</a></li>
        </ul>
      </nav>
    </div>
  </aside>

  <div class="card4-container">
    <h2 id="mathematics">Mathematics</h2>
    <div class="card4">
      <span class="card4-year">2024</span>
      <h3>Activity 1</h3>
      <p>Explanation~</p>
    </div>

    <h2 id="volunteering">Volunteering</h2>
    <div class="card4">
      <span class="card4-year">2024</span>
      <h3>Activity 1</h3>
      <p>Explanation~</p>
    </div>
  </div>
</section>
{{ end }}
