{{ define "main" }}
<header class="page-header">
  <style>
  body {
    background-color: #F8F8FF;
  }
  </style>
  <h1>Honors &amp; Awards</h1>
</header>

<section class="section3">
  <aside class="toc-sidebar">
    <div class="toc">
      <div class="toc-title">Table of Contents</div>
      <nav>
        <ul>
          <li><a href="#academic">Academic</a></li>
          <li><a href="#volunteering">Volunteering</a></li>
          <li><a href="#music">Music</a></li>
          <li><a href="#sport">Sport</a></li>
        </ul>
      </nav>
    </div>
  </aside>

  <div class="card4-container">
    <h2 id="academic">Academic</h2>
    <div class="card4 card4-honors">
      <span class="card4-year">2025</span>
      <h3>2025 Korean Mathematical Olympiad Stage I Honorable Mention</h3>
      <h4>Issued by Korean Mathematical Society &bull; Jun 2025</h4>
      <p>Honorable mentions are awarded to students who scored in approximately
      top 300 in South Korea.</p>

      <h3>2025 AMC 10 Top 10%</h3>
      <h4>Issued by Korean Gifted Students Evaluation Association &bull; Jan 2026</h4>
      <p>The honor is accoladed to students who scored in top 10%.</p>

      <br>

      <span class="card4-year">2024</span>
      <h3>2024 AMC 8 Honor Roll</h3>
      <h4>Issued by Mathematical Association of America &bull; Feb 2025</h4>
      <p>Honor Roll is awarded to students who scored in top 5%.</p>

      <h3>Certificate of Achievement</h3>
      <h4>Issued by Juniper Christian School &bull; Dec 2024</h4>
      <p>The award is provided to the student who scored the highest in
      class for the first semester of 9th grade.</p>

      <h3>Certificate of Achievement</h3>
      <h4>Issued by Juniper Christian School &bull; May 2024</h4>
      <p>The award is provided to the student who scored the highest in
      class for the second semester of 8th grade.</p>
      <br>

      <span class="card4-year">2023</span>
      <h3>2023 AMC 8 Honor Roll</h3>
      <h4>Issued by Mathematical Association of America &bull; Feb 2024</h4>
      <p>Honor Roll is awarded to students who scored in top 5%.</p>

      <h3>Certificate of Achievement</h3>
      <h4>Issued by Juniper Christian School &bull; Dec 2023</h4>
      <p>The award is provided to the student who scored the highest in
      class for the first semester of 8th grade.</p>

      <h3>Certificate of Achievement</h3>
      <h4>Issued by Juniper Christian School &bull; May 2023</h4>
      <p class="card4-honors-last">The award is provided to the student who
      scored the highest in class for the second semester of 7th grade.</p>
    </div>

    <h2 id="volunteering">Volunteering</h2>
    <div class="card4 card4-honors">
      <span class="card4-year">2025</span>
      <h3>2025 Gyeonggi Province Volunteering Certificate of Commendation</h3>
      <h4>Issued by Chairman of Gyeonggi Province Volunteer Center &bull Dec 2025</h4>
      <p>The certificate is awarded to around four people per quarter who
      dedicated their time and effort in improving the community.</p>

      <br>

      <span class="card4-year">2024</span>
      <h3>2024 Gyeonggi Province Volunteer Center Chairman Award</h3>
      <h4>Issued by Chairman of Gyeonggi Province Volunteer Center &bull Nov 2024</h4>
      <p class="card4-honors-last">The award is accoladed to around four volunteers
      per quarter, who dedicated their time and passion for their community.</p>
    </div>
  </div>
</section>
{{ end }}
