{{ define "main" }}
<header class="page-header">
  <h1>Independent Study</h1>
</header>
<section class="preview-section projects-preview">
  <div class="preview-content">
    <div class="project-grid">

      <div class="project-card">
        <div class="project-card-img">
          <img src="/img/independent-math.jpg" alt="Math">
        </div>
        <div class="card-content">
          <h3>Mathematics</h3>
          <a href="/pages/independent-study/math"
             class="btn-card">READ MORE</a>
        </div>
      </div>

      <div class="project-card">
        <div class="project-card-img">
          <img src="/img/independent-cs.jpg" alt="Computer Science">
        </div>
        <div class="card-content">
          <h3>Computer Science</h3>
          <a href="/pages/independent-study/cs"
             class="btn-card">READ MORE</a>
        </div>
      </div>

    </div>
  </div>
</section>
{{ end }}
