{{ define "main" }}
<header class="page-header">
  <h1>Independent Study</h1>
</header>
<section class="preview-section projects-preview">
  <div class="preview-content">
    <div class="project-grid">
      <div class="project-card">
        <div class="project-card-iframe">
          <img src="../../static/img/independent-math.jpg" alt="Math">
        </div>
        <div class="project-card-contents">
          <h3>Mathematics</h3>
          <p>Mathematics</p>
          <a href="/pages/independent-study/math" class="btn-primary" id="project-button">READ MORE</a>
        </div>
      </div>
      <div class="project-card">
        <div class="project-card-iframe">
          <iframe src=""></iframe>
        </div>
        <div class="project-card-contents">
          <h3>Computer Science</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <a href="" class="btn-primary" id="project-button">READ MORE</a>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
