{{ define "main" }}
<header class="page-header">
  <style>
  body {
    background-color: #f7fafc;
  }
  </style>
  <h1>Projects</h1>
</header>

<section class="section3">
  <aside class="toc-sidebar">
    <div class="toc">
      <div class="toc-title">Table of Contents</div>
      <nav>
        <ul>
          <li><a href="#project1">Project1</a></li>
        </ul>
      </nav>
    </div>
  </aside>

  <div id="card2-container-projects">
    <div class="card2" id="project1">
      <div class="card2-image">
        <img src="" alt="">
      </div>
      <div class="card2-content">
        <h3>Project 1</h3>
        <a href="" class="btn2">Read More</a>
      </div>
    </div>

    <div class="card2" id="project1">
      <div class="card2-image">
        <img src="" alt="">
      </div>
      <div class="card2-content">
        <h3>Project 1</h3>
        <a href="" class="btn2">Read More</a>
      </div>
    </div>

    <div class="card2" id="project1">
      <div class="card2-image">
        <img src="" alt="">
      </div>
      <div class="card2-content">
        <h3>Project 1</h3>
        <a href="" class="btn2">Read More</a>
      </div>
    </div>

    <div class="card2" id="project1">
      <div class="card2-image">
        <img src="" alt="">
      </div>
      <div class="card2-content">
        <h3>Project 1</h3>
        <a href="" class="btn2">Read More</a>
      </div>
    </div>
  </div>
</section>
{{ end }}
