{{ define "main" }}
<header class="page-header">
  <style>
  body {
    background-color: #F8F8FF;
  }
  </style>
  <h1>Projects</h1>
</header>

<section class="section3">
  <aside class="toc-sidebar">
    <div class="toc">
      <div class="toc-title">Table of Contents</div>
      <nav>
        <ul>
          <li><a href="#math-docs">Mathematical Documents</a></li>
          <li><a href="#competitive-programming">Competitive Programming</a></li>
        </ul>
      </nav>
    </div>
  </aside>

  <div id="card3-container-projects">
    <div class="card3 card3-projects" id="math-docs">
      <h3>Mathematical Documents</h3>
      <div class="card3-image card3-image-projects">
        <img src="/img/independent-math.jpg" alt="Mathematical Document">
      </div>
      <div class="card3-content-projects">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
        </p>
        <a href="/pages/projects/mathematical-documents" class="btn2">Read More</a>
      </div>
    </div>

    <hr>

    <div class="card3 card3-projects" id="competitive-programming">
      <h3>Competitive Programming</h3>
      <div class="card3-image card3-image-projects">
        <img src="/img/independent-cs.jpg" alt="Competitive Programming">
      </div>
      <div class="card3-content-projects">
        <a href="/pages/projects/competitive-programming" class="btn2">Read More</a>
      </div>
    </div>

  </div>
</section>
{{ end }}

