{{ define "main" }}
<header class="page-header">
  <style>
  body {
    background-color: #f7fafc;
  }
  </style>
  <h1>Projects</h1>
</header>

<section class="cards-section honors-content-section">
  <aside class="toc-sidebar">
    <div class="toc">
      <div class="toc-title">Table of Contents</div>
      <nav>
        <ul>
          <li><a href="#project1">Project1</a></li>
        </ul>
      </nav>
    </div>
  </aside>

  <div class="project-cards-container honors-list">
    <div class="card" id="project1">
      <div class="card-image">
        <img src="" alt="">
      </div>
      <div class="card-content">
        <h3>Project 1</h3>
        <a href="/pages/projects/solution-notes" class="btn-card">Read More</a>
      </div>
    </div>

    <div class="card">
      <div class="card-image">
        <img src="" alt="">
      </div>
      <div class="card-content">
        <h3></h3>
        <a href="" class="btn-card">Read More</a>
      </div>
    </div>

    <div class="card">
      <div class="card-image">
        <img src="" alt="">
      </div>
      <div class="card-content">
        <h3></h3>
        <a href="" class="btn-card">Read More</a>
      </div>
    </div>

    <div class="card">
      <div class="card-image">
        <img src="" alt="">
      </div>
      <div class="card-content">
        <h3></h3>
        <a href="" class="btn-card">Read More</a>
      </div>
    </div>
  </div>
</section>
{{ end }}
