{{ define "main" }}
<header class="page-header">
  <style>
  body {
    background-color: #F8F8FF;
  }
  </style>
  <h1>JavaScript Mini-Projects</h1>
</header>

<section class="section3">
  <aside class="toc-sidebar">
    <div class="toc">
      <div class="toc-title">Table of Contents</div>
        <nav>
          <ul>
            <li><a href="#coffee-shop">1. Coffee Shop</a></li>
            <li><a href="#stopwatch">2. Stopwatch</a></li> 
            <li><a href="#guess-the-number">3. Guess the Number</a></li>
            <li><a href="#calculator">4. Calculator</a></li>
            <li><a href="#rock-paper-scissors">5. Rock Paper Scissors</a></li>
            <li><a href="#flip-a-coin">6. Flip a Coin</a></li>
            <li><a href="#checklist">7. Checklist</a></li>
          </ul>
        </nav>
    </div>
  </aside>

  <div class="section3-content">
    <p>
      Welcome to my JavaScript mini-projects!!
      Each project consists of three parts: website, source code, and
      detailed explanation. By researching and reading different articles,
      I was able to build the projects. To document my though process and
      to optimistically contribute to the programming community, I wrote
      a detailed explanation for each script in my personal blog. However,
      because I was not enrolled in official course for computer science,
      the scripts may not be in their ideal state. Therefore, please feel
      free to leave any feedback or comments in my blog for each project
      for improvements! The entire source code is available
      <a href="https://github.com/enochyu-official/js-mini-projects" 
         target="_blank" rel="noopener noreferrer" id="source">
        here</a> with the original website
      <a href="https://js.enochyu.com/" 
         target="_blank" rel="noopener noreferrer" id="source">
        here</a>!!
      <br><br>
      Below are the interactive preview of each project. Although
      responsive components were used to create each project, it may
      not look pretty in the preview below. Thus, please access each
      project with the links above!!
    </p>

    <div id="previewList">
      <h2 id="coffee-shop">Project 1: Coffee Shop</h2>
      <div class="previewBox" >
        <div class="previewLink">
          <a href="https://js.enochyu.com/projects/project1_CoffeeShop/"
             target="_blank" rel="noopener noreferrer"
             class="btn2">
            Coffee Shop
          </a>
          <span>&nbsp;&nbsp;</span>
          <a href="https://github.com/enochyu-official/js-mini-projects/tree/main/projects/project1_CoffeeShop"
             target="_blank" rel="noopener noreferrer"
             class="btn2">
            Source Code
          </a>
          <span>&nbsp;&nbsp;</span>
          <a href="https://blog.enochyu.com/posts/post04_js1coffeeshop/"
             target="_blank" rel="noopener noreferrer"
             class="btn2">
            Detailed Explanation
          </a>
        </div>
        <div class="projectPreview">
          <iframe src="https://js.enochyu.com/projects/project1_CoffeeShop/"></iframe>
        </div>
      </div>

      <h2 id="stopwatch">Project 2: Stopwatch</h2>
      <div class="previewBox">
        <div class="previewLink">
          <a href="https://js.enochyu.com/projects/project2_TimerStopwatch/"
             target="_blank" rel="noopener noreferrer"
             class="btn2">
            Stopwatch
          </a>
          <span>&nbsp;&nbsp;</span>
          <a href="https://github.com/enochyu-official/js-mini-projects/tree/main/projects/project1_CoffeeShop"
             target="_blank" rel="noopener noreferrer"
             class="btn2">
            Source Code
          </a>
          <span>&nbsp;&nbsp;</span>
          <a href="https://blog.enochyu.com/posts/post05_js2stopwatch/"
             target="_blank" rel="noopener noreferrer"
             class="btn2">
            Detailed Explanation
          </a>
        </div>
        <div class="projectPreview">
          <iframe src="https://js.enochyu.com/projects/project2_TimerStopwatch/"></iframe>
        </div>
      </div>

      <h2 id="guess-the-number">Project 3: Guess the Number</h2>
      <div class="previewBox">
        <div class="previewLink">
          <a href="https://js.enochyu.com/projects/project3_GuessTheNumber/"
             target="_blank" rel="noopener noreferrer"
             class="btn2">
            Guess The Number
          </a>
          <span>&nbsp;&nbsp;</span>
          <a href="https://github.com/enochyu-official/js-mini-projects/tree/main/projects/project3_GuessTheNumber"
             target="_blank" rel="noopener noreferrer"
             class="btn2">
            Source Code
          </a>
          <span>&nbsp;&nbsp;</span>
          <a href="https://blog.enochyu.com/posts/post06_js3guessthenumber/"
             target="_blank" rel="noopener noreferrer"
             class="btn2">
            Detailed Explanation
          </a>
        </div>
        <div class="projectPreview">
          <iframe src="https://js.enochyu.com/projects/project3_GuessTheNumber/"></iframe>
        </div>
      </div>

      <h2 id="calculator">Project 4: Calculator</h2>
    </div>

  </div>
</section>
{{ end }}


