{{ define "main" }}
<header class="page-header">
  <style>
  body {
    background-color: #F8F8FF;
  }
  </style>
  <h1>Solution Notes</h1>
</header>

<section class="honors-content-section">
  <aside class="toc-sidebar">
    <div class="toc">
      <div class="toc-title">Table of Contents</div>
      <nav>
        <ul>
          <li><a href="#competitions">Math Competitions</a></li>
        </ul>
      </nav>
    </div>
  </aside>

  <div class="honors-list">
    <h2 id="competitions">Competitions</h2>

    <div id="projectList">
      <table>
        <tr>
          <th>Problem Set</th>
          <th>PDF</th>
          <th>HTML (Potentially Flawed)</th>
          <th>TeX Source</th>
        </tr>

        <tr>
          <td>
            <a href="" target="_blank" rel="noopener noreferrer">
              Problem Set 1
            </a>
          </td>
          <td>
            <a href="" target="_blank" rel="noopener noreferrer">
              PDF
            </a>
          </td>
          <td>
            <a href="" target="_blank" rel="noopener noreferrer">
              HTML
            </a>
          </td>
          <td>
            <a href="" target="_blank" rel="noopener noreferrer">
              TeX Source
            </a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</section>
{{ end }}

