.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 90vh;
}

.error-page h1 {
  font-size: 15vw;
  color: var(--accent-color1);
}

.error-page p {
  font-size: 2.1rem;
  font-weight: 400;
}

.error-page a {
  text-decoration: none;
  font-size: 1.7rem;
  font-weight: 400;
}

