.page-404 {
  background-color: #141414;
  color: whitesmoke;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#number-404 {
  font-size: 1vw;
  cursor: none;
}

#text-404 {
  font-size: 0.5vw;
  cursor: none;
}

#btn-404 {
  display: block;
  text-align: center;
  color: whitesmoke;
  font-size: 1.3rem;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  #btn-404 {
    font-size: 1rem;
  }
}

