/* Button Type 1 */
.btn1 {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  margin-top: 0.5rem;
  max-height: 350px;
  font-size: 0.9rem;
  background-color: transparent;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 500;
  transition: var(--transition);
  background: #1b1b1b;
  color: var(--bg-color);
  border: 1px solid rgba(128, 128, 128, 0.65);
}

.btn1:hover {
  color: #1b1b1b;
  background-color: transparent;
  border: 1px solid rgba(128, 128, 128, 1);
}


/* Button Type 2 */
.btn2 {
  display: inline-block;
  padding: 0.6rem 1.5rem;
  background: var(--accent-color1);
  color: white;
  text-decoration: none;
  border-radius: 50px;
  font-weight: 600;
  font-size: 1rem;
  transition: var(--transition);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.btn2:hover {
  transform: none;
  background-color: var(--accent-color1);
  box-shadow: 0 0 0 0;
}


#about-button {
  background-color: var(--primary-color);
  color: var(--text-light);
  border-radius: 0;
  display: inline-block;
  padding: 0.5rem 1.5rem;
  font-weight: 500;
  font-size: 0.8rem;
  transition: var(--transition);
}

#about-button:hover {
  transform: none;
  background: var(--accent-color1);
  box-shadow: 0 0 0 0;
}


#project-button {
  background-color: var(--primary-color);
  color: var(--text-light);
  border-radius: 0;
  display: inline-block;
  padding: 0.5rem 1.5rem;
  font-weight: 500;
  font-size: 0.8rem;
  transition: var(--transition);

  align-self: center;
  margin-top: 0.7rem;
  cursor: pointer;
}

#project-button:hover {
  transform: none;
  background: #880808;
  box-shadow: 0 0 0 0;
}

