hr.styled-hr {
  border: none;
  height: 2px;
  background-image: linear-gradient(to right, #f5f5f5, #28282B, #f5f5f5);
}

hr.styled-hr::after {
  content: "\00A7";
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%) rotate(60deg);
  transform-origin: 50% 50%;
  padding: 1rem;
  background-color: whitesmoke;
}
