.content-section {
  max-width: 1000px;
  margin: 2rem auto;
  padding: 2rem;
}


.page-header {
  background-color: var(--accent-color1);
  color: var(--text-light);
  text-align: center;
  padding: 1rem var(--nav-height);
  z-index: 2;
}

.page-header h1 {
  font-size: 2.8rem;
}

@media (max-width: 1023px) {
  .page-header h1 {
    font-size: 2.3rem;
  }
}

.page {
  display: flex;
  min-width: 100vw;
  margin: 0 0;
  min-height: 100vh;
}

