.section-title {
  font-size: 3rem;
  margin-bottom: 2rem;
  color: var(--text-dark);
}

/* Section Type 1 */
.section1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 2rem;
  background-color: whitesmoke;
}

.section1-content {
  max-width: 1000px;
  text-align: center;
}

.section1-text {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: var(--secondary-color);
  line-height: 1.8;
}


/* Section Type 2 */
.section2 {
  padding: 4rem 2rem;
  background-color: #dee2e6 !important;
}

.section2 h2 {
  text-align: center;
}


/* Section Type 3 */
.section3 {
  max-width: 800px;
  margin: 0 auto 3rem;
  background-color: #F8F8FF;
}

@media (min-width: 1024px) {
  .section3 {
    display: flex;
    gap: 3rem;
    max-width: 1400px;
    margin: 0 auto;
    padding: 2rem;
    align-items: start;
  }
}

.section3-photos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  width: 100%;
}

.section3-photos img {
  max-width: 100%;
  height: 300px;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .section3-photos {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 480px) {
  .section3-photos {
    grid-template-columns: 1fr;
  }
}

#section3-content-about {
  max-width: 80vw;
  padding: 2rem;
}

#section3-content-about p {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 2.8rem;
}

#section3-content-about h2 {
  font-size: 1.8rem;
  font-weight: 800;
  color: var(--accent-color);
  text-align: center;
  margin-bottom: 1.1rem;
}


/* Index - About */
#about-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  width: 80%;
}

#about-content {
  max-width: 1000px;
  text-align: left;
}

@media (max-width: 768px) {
  #about-container {
    grid-template-columns: 1fr;
    width: 90%;
  }
}

#about-title {
  text-align: center;
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 1.3rem;
  color: var(--text-dark);
}

#about-text {
  display: flex;
  margin-bottom: 1.3rem;
  text-align: left;
}



