#projectList {
  display: flex;
  justify-content: center;
}

#projectList caption {
  text-align: center;
  font-weight: bold;
  color: #0B1E38;
  padding: 10px 0;
  background-color: #f0e9eb;
}

table {
  border-collapse: collapse;
  border: 2px solid #e5e5e5;
  color: white;
  width: 100%;
  text-align: center;
}

td {
  color: whitesmoke;
  border: 1px solid #e5e5e5;
  padding: 20px;
}

a {
  color: #fe5f55;
}

#projectList table {
  border-collapse: collapse;
  border: 2px solid #e5e5e5;
  width: 100%;
  text-align: center;
}

@media (max-width: 600px) {
  #projectList table {
    display: table;
    table-layout: fixed;
    word-wrap: break-word;
    border-collapse: collapse;
    border: 2px solid #e5e5e5;
    max-width: 90vw;
  }

  #projectList caption { font-size: 18px !important; }

  #projectList table,
  #projectList th {
    font-size: 12px !important;
    padding: 5px 3px;
  }

  #projectList table,
  #projectList td {
    font-size: 10px !important;
    padding: 5px 3px;
  }
}


@media (max-width: 768px) {
   #projectList table {
    border-collapse: collapse;
    border: 2px solid #e5e5e5;
    width: 90%;
  }

  #projectList caption { font-size: 24px; }
  #projectList table { font-size: 18px; }
}


#projectList th,
#projectList td {
  color: #14213d;
  border: 1px solid #e5e5e5;
  padding: 20px;
}

#projectList a {
  color: #fe5f55;
}

