<header>
  <nav class="navbar">
    <div class="nav-container">
      <a href="/" class="nav-logo">Enoch Yu</a>

      <button class="nav-toggle" id="navToggle" aria-label="Toggle navigation">
        <img src="/img/burger.svg" alt="Menu" class="icon-burger">
        <img src="/img/close.svg" alt="Close" class="icon-close">
      </button>

      <ul class="nav-menu" id="navMenu">
        <li><a href="/" class="nav-link {{ if .IsHome }}active{{ end }}">Home</a></li>
        <li><a href="/pages/about" class="nav-link {{ if eq .RelPermalink "/pages/about/" }}active{{ end }}">About</a></li>
        <li><a href="/pages/projects" class="nav-link {{ if eq .RelPermalink "/pages/projects/" }}active{{ end }}">Projects</a></li>
        <li><a href="/pages/honors" class="nav-link {{ if eq .RelPermalink "/pages/honors/" }}active{{ end }}">Honors</a></li>
        <li><a href="/pages/activities-experience" class="nav-link {{ if eq .RelPermalink "/pages/activities-experience/" }}active{{ end }}">
            Activities/Experience</a></li>
        <li><a href="https://blog.enochyu.com/" target="_blank" rel="noopener" aria-label="Personal Blog"
            class="nav-link {{ if eq .RelPermalink "/pages/blog/" }}active{{ end }}">Blog</a></li>
        <li><a href="/pages/contact" class="nav-link {{ if eq .RelPermalink "/pages/contact/" }}active{{ end }}">Contact</a></li>
      </ul>
    </div>
  </nav>
</header>
