{{ define "main" }}
<div class="page-404">
  <pre id="number-404">
        ,--,                      ,--, 
      ,--.'|    ,----..         ,--.'| 
   ,--,  | :   /   /   \     ,--,  | : 
,---.'|  : '  /   .     : ,---.'|  : ' 
;   : |  | ; .   /   ;.  \;   : |  | ; 
|   | : _' |.   ;   /  ` ;|   | : _' | 
:   : |.'  |;   |  ; \ ; |:   : |.'  | 
|   ' '  ; :|   :  | ; | '|   ' '  ; : 
\   \  .'. |.   |  ' ' ' :\   \  .'. | 
 `---`:  | ''   ;  \; /  | `---`:  | ' 
      '  ; | \   \  ',  /       '  ; | 
      |  : ;  ;   :    /        |  : ; 
      '  ,/    \   \ .'         '  ,/  
      '--'      `---`           '--'   
  </pre>
  <pre id="text-404">
                                                                                           ,----,                                                                         
,-.----.                                                         ,--.    ,----..         ,/   .`|                      ,----..                          ,--.              
\    /  \     ,---,         ,----..       ,---,.               ,--.'|   /   /   \      ,`   .'  :            ,---,.   /   /   \                       ,--.'|    ,---,     
|   :    \   '  .' \       /   /   \    ,'  .' |           ,--,:  : |  /   .     :   ;    ;     /          ,'  .' |  /   .     :          ,--,    ,--,:  : |  .'  .' `\   
|   |  .\ : /  ;    '.    |   :     : ,---.'   |        ,`--.'`|  ' : .   /   ;.  \.'___,/    ,'         ,---.'   | .   /   ;.  \       ,'_ /| ,`--.'`|  ' :,---.'     \  
.   :  |: |:  :       \   .   |  ;. / |   |   .'        |   :  :  | |.   ;   /  ` ;|    :     |          |   |   .'.   ;   /  ` ;  .--. |  | : |   :  :  | ||   |  .`\  | 
|   |   \ ::  |   /\   \  .   ; /--`  :   :  |-,        :   |   \ | :;   |  ; \ ; |;    |.';  ;          :   :  :  ;   |  ; \ ; |,'_ /| :  . | :   |   \ | ::   : |  '  | 
|   : .   /|  :  ' ;.   : ;   | ;  __ :   |  ;/|        |   : '  '; ||   :  | ; | '`----'  |  |          :   |  |-,|   :  | ; | '|  ' | |  . . |   : '  '; ||   ' '  ;  : 
;   | |`-' |  |  ;/  \   \|   : |.' .'|   :   .'        '   ' ;.    ;.   |  ' ' ' :    '   :  ;          |   :  ;/|.   |  ' ' ' :|  | ' |  | | '   ' ;.    ;'   | ;  .  | 
|   | ;    '  :  | \  \ ,'.   | '_.' :|   |  |-,        |   | | \   |'   ;  \; /  |    |   |  '          |   |   .''   ;  \; /  |:  | | :  ' ; |   | | \   ||   | :  |  ' 
:   ' |    |  |  '  '--'  '   ; : \  |'   :  ;/|        '   : |  ; .' \   \  ',  /     '   :  |          '   :  '   \   \  ',  / |  ; ' |  | ' '   : |  ; .''   : | /  ;  
:   : :    |  :  :        '   | '/  .'|   |    \        |   | '`--'    ;   :    /      ;   |.'           |   |  |    ;   :    /  :  | : ;  ; | |   | '`--'  |   | '` ,/   
|   | :    |  | ,'        |   :    /  |   :   .'        '   : |         \   \ .'       '---'             |   :  \     \   \ .'   '  :  `--'   \'   : |      ;   :  .'     
`---'.|    `--''           \   \ .'   |   | ,'          ;   |.'          `---`                           |   | ,'      `---`     :  ,      .-./;   |.'      |   ,.'       
  `---`                     `---`     `----'            '---'                                            `----'                   `--`----'    '---'        '---'         
  </pre>
  <a href="index.html" id="btn-404">Return Home</a>
</div>
{{ end }}
