{{ define "main" }}
<header class="page-header">
  <style>
  body {
    background-color: #F8F8FF;
  }
  </style>
  <h1>Honors & Awards</h1>
</header>

<section class="honors-content-section">
  <aside class="toc-sidebar">
    <div class="toc">
      <div class="toc-title">Table of Contents</div>
      <nav>
        <ul>
          <li><a href="#mathematics">Mathematics</a></li>
          <li><a href="#volunteering">Volunteering</a></li>
        </ul>
      </nav>
    </div>
  </aside>

  <div class="honors-list">
    <h2 id="mathematics">Mathematics</h2>
    <div class="honor-item">
      <span class="honor-year">2024</span>
      <h3>Honor 1</h3>
      <p>Explanation~</p>
    </div>

    <h2 id="volunteering">Volunteering</h2>
    <div class="honor-item">
      <span class="honor-year">2024</span>
      <h3>Honor 1</h3>
      <p>Explanation~</p>
    </div>
  </div>
</section>
{{ end }}
