{{ define "main" }}
<section class="image-slider" id="home">
  <div class="slider-container">
    <div class="slide active">
      <div class="slide-content">
        <h1 class="slide-title">Enoch Yu</h1>
      </div>
    </div>
    <div class="slide">
      <div class="slide-content">
        <h1 class="slide-title">Enoch Yu</h1>
      </div>
    </div>
    <div class="slide">
      <div class="slide-content">
        <h1 class="slide-title">Enoch Yu</h1>
      </div>
    </div>
  </div>
  <button class="slider-btn prev" onclick="changeSlide(-1)">
    <i class="fa-classic fa-chevron-circle-left"></i>
  </button>
  <button class="slider-btn next" onclick="changeSlide(1)">
    <i class="fa-classic fa-chevron-circle-right"></i>
  </button>
  <div class="slider-dots">
    <span class="dot active" onclick="currentSlide(0)"></span>
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
  </div>
</section>


<section class="section-index">

  <div class="section-index-container">
    <div id="about-container">
      <div class="section-index-content" id="about-content">
        <h2 class="section-title" id="about-title">
          Hi!! Welcome to my personal website!</h2>
        <p class="section-index-text" id="about-text">
        I am a high school sophomore living in South Korea.
        <br>
        Besides mathematics and programming, I do have lots
        of hobbies and interests! Please feel free to
        explore for more information~!
        </p>
        <a href="/about" class="btn1">READ MORE</a>
      </div>
      <div id="section-index-content">
        <iframe style="width: 100%; aspect-ratio: 16 / 9; border: 0;"
                allowfullscreen
        src="https://www.youtube.com/embed/IXMZaVHtVPs?autoplay=0&mute=1">
        </iframe>
      </div>
    </div>
  </div>

  <hr class="styled-hr">

  <br><br>

  <div class="section-toc-photos">
    <img src="/img/slide1.jpg" alt="Picture of Enoch 1">
    <img src="/img/slide2.jpg" alt="Picture of Enoch 2">
    <img src="/img/slide3.png" alt="Picture of Enoch 3">
  </div>

  <br><br>
{{ end }}

