{{ define "main" }}
<!-- Slide -->
<section class="image-slider" id="home">
  <div class="slider-container">
    <div class="slide active">
      <div class="slide-content">
        <h1 class="slide-title">Enoch Yu</h1>
      </div>
    </div>
    <div class="slide">
      <div class="slide-content">
        <h1 class="slide-title">Enoch Yu</h1>
      </div>
    </div>
    <div class="slide">
      <div class="slide-content">
        <h1 class="slide-title">Enoch Yu</h1>
      </div>
    </div>
  </div>
  <button class="slider-btn prev" onclick="changeSlide(-1)">
    <i class="fa-classic fa-chevron-circle-left"></i>
  </button>
  <button class="slider-btn next" onclick="changeSlide(1)">
    <i class="fa-classic fa-chevron-circle-right"></i>
  </button>
  <div class="slider-dots">
    <span class="dot active" onclick="currentSlide(0)"></span>
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
  </div>
</section>


<!-- About -->
<section class="section1">
  <div id="about-container">
    <div class="section1-content">
      <h2 class="section-title" id="about-title">
        Hi!! Welcome to my personal website!</h2>
      <p class="section1-text" id="about-text">
      I am a high school sophomore living in South Korea.
      <br>
      <br>
      Besides mathematics, programming, and academics, I
      do have lots of hobbies and interests! Please check
      out more information below!!
      </p>
      <a href="/about" class="btn1"
        id="about-button">READ MORE</a>
    </div>
    <div id="section1-content">
      <iframe style="width: 100%; aspect-ratio: 16 / 9; border: 0;"
              allowfullscreen
      src="https://www.youtube.com/embed/IXMZaVHtVPs?autoplay=0&mute=1">
      </iframe>
    </div>
  </div>
</section>

<hr class="styled-hr">

<!-- Projects -->
<section class="section1">
  <div class="section1-content">
    <h2 class="section-title">Featured Projects</h2>

    <div class="card1-container">
      <div class="card1">
        <div class="card1-image">
          <img src="" alt="">
        </div>
        <div class="card1-contents">
          <h3>Project Alpha</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <a href="" class="btn1" id="project-button">READ MORE</a>
        </div>
      </div>
      <div class="card1">
        <div class="card1-image">
          <img src="" alt="">
        </div>
        <div class="card1-contents">
          <h3>Project Beta</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <a href="" class="btn1" id="project-button">READ MORE</a>
        </div>
      </div>
    </div>
    <a href="projects.html" class="btn1">View All Projects</a>
  </div>
</section>


<!-- Awards & Honors -->
<section class="section2">
  <h2 class="section-title">Honors &amp Awards</h2>
  <div class="card2-container">

    <div class="card2">
      <div id="card2-image-index">
        <img src="" alt="Academic">
      </div>
      <div class="card2-content">
        <h3>Academic</h3>
        <a href="pages/honors/#academic"
          class="btn2">Read More</a>
      </div>
    </div>

    <div class="card2">
      <div id="card2-image-index">
        <img src="" alt="Volunteering">
      </div>
      <div class="card2-content">
        <h3>Volunteering</h3>
        <a href="pages/honors/#volunteering"
          class="btn2">Read More</a>
      </div>
    </div>

    <div class="card2">
      <div id="card2-image-index">
        <img src="" alt="Music">
      </div>
      <div class="card2-content">
        <h3>Music</h3>
        <a href="pages/honors/#music" class="btn2">Read More</a>
      </div>
    </div>

    <div class="card2">
      <div id="card2-image-index">
        <img src="" alt="Sport">
      </div>
      <div class="card2-content">
        <h3>Sport</h3>
        <a href="pages/honors/#sport" class="btn2">Read More</a>
      </div>
    </div>
  </div>
</section>


<!-- Activities -->
<section class="card3-section">
  <h2 class="section-title">Activities &amp; Experience</h2>
  <div class="card3-container">

    <div class="card3">
      <div class="card3-image">
        <img src="" alt="">
      </div>
      <div class="card3-content">
        <h3>Leadership</h3>
        <a href="pages/activities-experience/#leadership"
          class="card3-btn">Read More</a>
      </div>
    </div>

    <div class="card3">
      <div class="card3-image">
        <img src="" alt="">
      </div>
      <div class="card3-content">
        <h3>Internship</h3>
        <a href="pages/activities-experience/#internship"
          class="card3-btn">Read More</a>
      </div>
    </div>

    <div class="card3">
      <div class="card3-image">
        <img src="" alt="">
      </div>
      <div class="card3-content">
        <h3>Volunteering</h3>
        <a href="pages/activities-experience/#volunteering"
          class="card3-btn">Read More</a>
      </div>
    </div>

    <div class="card3">
      <div class="card3-image">
        <img src="" alt="">
      </div>
      <div class="card3-content">
        <h3>YouTube Channel</h3>
        <a href="pages/activities-experience/#youtube-channel"
          class="card3-btn">Read More</a>
      </div>
    </div>
  </div>
</section>
{{ end }}
